<%= simple_form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> Gambar anda tidak bisa di Upload. Kami siap membantu</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: 'Apa yang akan anda sewakan' %>
  </div>

  <div class="form-group">
    <%= f.input :description, placeholder: 'Disewakan murah, syarat mudah' %>
  </div>

  <div class="field">
    <%= f.input :image, as: :file %>
  </div>

  <div class="actions">
    <%= f.button :submit, 'Daftarkan', class: "btn btn-success" %>
  </div>
<% end %>