<% provide(:title, "products") %>

<p id="notice"><%= notice %> AKu </p>

<div class="container">
  <% @products.each do |product| %>
  <div class="thumbnail">
    <%= link_to (image_tag product.image.url(:medium)), product %>
    <h2><%= link_to product.name, product %></h2>
    <p><%= product.description %></p>
    <p class="user"> Penjual <%= product.user.email %> </p>
  </div>
  <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success' %>
  <%= link_to 'Destroy', product, class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %> 
</div>
