<footer id="footer">
  <div class="container">
  <div class="row footer-wrapper">
      <div class="col-sm-6 col-md-3">
        <h2>Lebih Dekat</h2>
        <ul class="foot-nav">
          <li><%= link_to "Tentang Kami", "#"%></li>
          <li><%= link_to "Karir", "#"%></li>
          <li><%= link_to "Filosofi Kami", "#"%></li>
          <li><%= link_to "Kabar dari Kantor", "#"%></li>
          <li><%= link_to "Karir", "#"%></li>
          <li><%= link_to "Bro Kami", "#"%></li>
        </ul>
      </div>


      <div class="col-sm-6 col-md-3">
        <h2>Sewakan</h2>
        <ul class="foot-nav">
          <li><%= link_to "Menyewakan Aset", "#"%></li>
          <li><%= link_to "Cara Menyewakan", "#"%></li>
          <li><%= link_to "Gold Vendor", "#"%></li>
          <li><%= link_to "Beriklan", "#"%></li>
          <li><%= link_to "Penarikan Dana", "#"%></li>
          <li><%= link_to "Vendor Center", "#"%></li>
        </ul>
      </div>


      <div class="col-sm-6 col-md-3">
        <h2>Menyewa</h2>
        <ul class="foot-nav">
          <li><%= link_to "Mencari Aset", "#"%></li>
          <li><%= link_to "Cara transaksi", "#"%></li>
          <li><%= link_to "Pembayaran", "#"%></li>
          <li><%= link_to "Keamanan", "#"%></li>
          <li><%= link_to "Asuransi", "#"%></li>
          <li><%= link_to "Hot List", "#"%></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <h2>Bantuan</h2>
        <ul class="foot-nav">
          <li><%= link_to "Syarat dan Ketentuan", "#"%></li>
          <li><%= link_to "Kebijakan Privasi", "#"%></li>
          <li><%= link_to "Pusat Resolusi", "#"%></li>
          <li><%= link_to "Hubungi Kami", "#"%></li>
        </ul>
      </div>

    </div>
    <p class="center">Copyright &copy; Sewabro.com 2017. Hak cipta dilindungi undang-undang</p>
  </div>
</footer>
